hyphenation-info::before {
    display: block;
    content: "AH Formatter Hyphenation Exception Dictionary";
    color: #003D19;
    font-weight: bold;
}

hyphen-char,
hyphen-min,
exceptions,
classes,
patterns,
non-eol-words {
    display: block;
    white-space: pre-wrap;
    border: thin solid var(--border-color);
    border-radius: 0.2em;
    margin: 0.5em 1px;
    padding:2px;
}

exceptions,
classes,
patterns,
non-eol-words {
    -oxy-show-placeholder: always;
}

hyphen-char {
    display: block;
    content: "Hyphenation character: "
             oxy_textfield(
               edit, "@value",
               color, #005566);
    background-color: silver;
    padding: 0.2em;
    --border-color: #00333D;
    background-color: #C2F5FF;
}

hyphen-min::before {
    content: "Minimum number of characters::";
}

hyphen-min {
    display: block;
    content: "    before hyphen: "
             oxy_combobox(
               edit, "@before",
               values, "1, 2, 3, 4, 5, 6, 7, 8, 9",
               color, "red")
             "    after hyphen: "
             oxy_combobox(
               edit, "@after",
               values, "1, 2, 3, 4, 5, 6, 7, 8, 9",
               color, #000D99);
    padding: 0.2em 0;
    --border-color: #00053D;
    background-color: #C2C7FF;
    -oxy-placeholder-content: "Minimum number of characters in a hyphenated word before or after the hyphenation character. (Optional)";
}

classes {
    --border-color: #29003D;
    -oxy-placeholder-content: "Character groups separated by white space; e.g., 'aA bB'. (Required for TeX)";
}

exceptions {
    color: #66003C;
    --border-color: #66003C;
    -oxy-placeholder-content: "Hyphenated words separated by white space. May include <hyphen>. (Optional)";
}

non-eol-words {
    --border-color: #003D19;
    -oxy-placeholder-content: "Non-end-of-line words separated by white space. (Optional)";
    border-style: solid;
}

patterns {
    --border-color: #3D0024;
    -oxy-placeholder-content: "Hyphenation patterns separated by white space. (Required for TeX)";
}

exceptions::before,
classes::before,
patterns::before,
non-eol-words:before {
    display: block;
    color: black;
    background-color: silver;
    padding-bottom: 0.2em;
    border-bottom: thin solid var(--border-color);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    margin: -2px -2px 0 -2px;
    padding: 0 4px;
}

classes::before {
    content: "Classes";
    background-color: #EBC2FF;
}

exceptions::before {
    content: "Exceptions";
    background-color: #FFC2E6;
}

patterns::before {
    content: "Patterns";
    background-color: #FFCCC2;
}

non-eol-words::before {
    content: "Non-end-of-line words";
    background-color: #FFFAC2;
}

hyphen {
    display: inline;
    content: "hyphen::  pre: "
             oxy_textfield(
               edit, "@pre",
               color, "red")
             "  post: "
             oxy_textfield(
               edit, "@post",
               color, "red")
             "  no: "
             oxy_textfield(
               edit, "@no",
               color, "red");
    background-color: lightblue;
    padding: 0 0.2em;
}
